rules_version = '2';
service cloud.firestore {
  // If you manage a users table and you have a role field then, you could use something like below
  // to control access to any table.

  match /databases/{database}/documents {
  
      function isAdmin(){
         return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
      }

      // Only the same user has permission to get its data.
      match /users/{userId} {
         allow read: if request.auth.uid == userId;
      }
    
      match /content/{document=**} {

         // Only the same user or an admin has permission to read the content.
    	   allow read: if request.auth != null && (request.auth.uid == resource.data.userId || isAdmin());   

         // Only the admin has permission to write the content.
         allow write: if request.auth != null && isAdmin();
      }  
   }
}
